

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');

:root{
    --fonte-principal: 'Sora', sans-serif;
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fonte-principal);
    background: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:  #FFFFFF ;
}
.my-container{
    margin: auto;
    height: 100vh;
    width: 400px;
}
header{
    padding: 15px;
}
header p{
    color: #919193;
}
header h1{
    padding: 15px;
}
header img{
    padding-top: 30px;
    width: 100px;
}
ul{

}
li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width: 90%;
    height: 50px;
    border: solid 1px black;
    margin:auto;
    margin-bottom: 3px;
    border-radius: 20px;
    background-image: linear-gradient(to right,  #5578BA, #40A376);
}
li:hover{
    border: solid 2px white;
}
li > p{
    margin-left: 5px;
}
footer{
    text-align: center;
    padding: 10px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.case{
    background-image: linear-gradient(to right,  #5578BA, #40A376);
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.case:hover{
    border: solid 1px white;
}
